@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 700;
  src: local('Rokkitt Bold'), local('Rokkitt-Bold'), url(../font/rok.woff) format('woff');
}

h1 {
	font-family: Rokkitt, helvetica, arial, sans-serif;
	font-size: 3em;
}

.top-bar .name h1 {
	border-bottom: 3px solid white;
}

.full-cont {
    display:block;
    position:relative;
    min-width:100%;
    min-height:100%;
    margin-bottom:2px;
}

.dark h1, .dark p{
	color: #fff;
}

.jumbo h1{
	font-size: 75;
	font-weight: 400;
	font-family: Rokkitt, helvetica, arial, sans-serif;
	margin: 0.2em 2em;
	border-bottom: 3px solid white;
}

.jumbo i{
	font-size: 2em;
	margin: 0 0.5em;
	color: white;
}

.jumbo p {
	font-size: 1.4em;
	text-transform: uppercase;
}

.full-img {
    display:block;position:absolute;z-index:-1;
    min-width:100%;
    min-height:100%;
    background:transparent url("../img/fire.jpg") center center no-repeat;
    background-size:cover;
}

.full-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
	z-index: -1;
}

.vert-text {
	margin: 25% auto 15%;
	float: none !important;
}

.top-bar .name h1 {
	font-size: 2em;
}

.top-bar-section li a:not(.button) {
	font-family: Rokkitt, helvetica, arial, sans-serif;
}

.padded {
	padding: 3% 0;
}

.padded-extra{
	padding: 12% 0;
}